In [1]:
import pandas as pd 
pd.options.display.max_columns = 60

In [14]:
res = pd.read_csv('C:/Users/maperezr/OneDrive - Falabella/General/DATA/CONC/output/220831_resultado.csv', sep=';', dtype='object')

In [4]:
aux = res.groupby('f12_nfolio')['f12_gco_inc_nc'].unique().reset_index()

In [5]:
listado = aux.loc[aux['f12_gco_inc_nc'].apply(lambda x : True if 'Tiene NC' in x  else False), 'f12_nfolio'].unique()

In [6]:
res.loc[res['f12_nfolio'].isin(listado), 'gco_ind_nc_tot'] = 'Tiene NC'
res.loc[res['gco_ind_nc_tot'].isna(),'gco_ind_nc_tot'] = 'No tiene NC'

In [7]:
res.loc[res['f12_gco_inc_nc'] != res['gco_ind_nc_tot'], ['f12_nfolio','f12_gco_inc_nc', 'gco_ind_nc_tot']]

          f12_nfolio f12_gco_inc_nc gco_ind_nc_tot
97       12686109007    No tiene NC       Tiene NC
184      12686244111    No tiene NC       Tiene NC
229      12686325087    No tiene NC       Tiene NC
268      12686380093    No tiene NC       Tiene NC
318      12686483367    No tiene NC       Tiene NC
...              ...            ...            ...
1650366  12700767923    No tiene NC       Tiene NC
1650375  12700795759    No tiene NC       Tiene NC
1650412  12700857594    No tiene NC       Tiene NC
1650433  12700903987    No tiene NC       Tiene NC
1650522  12701081196    No tiene NC       Tiene NC

[43087 rows x 3 columns]

In [8]:
res.loc[res['f12_nfolio']=="12686325087", ['f12_nfolio','f12_gco_inc_nc', 'gco_ind_nc_tot']]

         f12_nfolio f12_gco_inc_nc gco_ind_nc_tot
229     12686325087    No tiene NC       Tiene NC
946879  12686325087       Tiene NC       Tiene NC